
target/
build/
*.class
*.jar
*.war
*.ear


nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.idea/
*.iml
.settings/
.classpath
.project


.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp




.env
*.env
application-local.properties
application-local.yml
